bsuite
dm-env
tensorflow_probability==0.15.0
rlds
numpy==1.22.4
trfl
pygame==2.1.0
gym
jax==0.4.3
jaxlib==0.4.3
tensorflow==2.8.0
rlax
gym[atari]
dm-reverb==0.7.2
dm-tree
dm-haiku==0.0.10
typing-extensions
keras==2.8.0
absl-py
dm-launchpad==0.5.2
atari-py
tensorflow-datasets==4.5.2
tensorflow-estimator==2.8.0
chex
optax
pillow
dm-sonnet
dm-control==0.0.364896371
